<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Delete Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

    <h3>是否確定刪除{{ posts_item.title }}?</h3>

    <form action="" method="POST">
        {% csrf_token %}
        <button class="btn btn-success" type="submit" value="">刪除</button>
        <a class="btn btn-warning" href="{% url 'Add_New' %}" role="button">取消</a>
    </form>
</body>
</html>