{% extends "Userbasic.html" %}
{% block title %}密碼修改{% endblock %}
{% block style %}

    {% load static %}	
    <link rel="stylesheet" type="text/css" href="{% static 'userctl/profile.css' %}" />  

{% endblock style %}
{% block content%}
<div class="container-fluid">
    <div class="row">
        <nav class="col-lg-2 d-none d-lg-block bg-light sidebar">
            <div class="navbar-header" ><h3>使用者資料</h3></div>
            <div class="sidebar-sticky">   
                <ul class="nav flex-column nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'userprofile'%}">個人資料</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'userpdchange'%}">修改密碼</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'index' %}">首頁</a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="col-lg-9">
        <form class="mx-2 my-2" action = "" method = "post"> 
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table> 
            <button type="submit" class="btn btn-primary btn-md mx-3 my-3">修改</button>
            <a href="{% url 'index' %}" class="btn btn-primary btn-md mx-3 my-3" role="button">取消</a>
            {% comment %} {% if message %}
                <div class="form-group row justify-content-left">
                    <div class="alert alert-warning">{{ message }}</div>
                </div>
            {% endif %} {% endcomment %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <div class="form-group row justify-content-left">
                    <div class="alert alert-warning">{{error}}</div>
                    </div>
                {% endfor %}
            {% endfor %}
        </form> 
        </nav>
    </div>
</div>
{% endblock%}